<% layout("main") %>

<h2 class="page-header ctr">Регистрация</h2>

  <div class="col-md-6 col-md-offset-3">
      <p class="lead ctr">Пожалуйста, введите ваши данные</p>
      <% if (message != null) { %>
        <div class="alert-danger"><%= message %></div><br/>
      <% } %>
      <form class="form-horizontal" role="form" action="/signup" method="post">
          <fieldset>

          <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">Логин</label>
              <div class="col-sm-7">
                  <input type="text" placeholder="Логин" class="form-control" name="login">
              </div>
          </div>

        <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">Пароль</label>
              <div class="col-sm-7">
                  <input type="password" placeholder="Пароль" class="form-control" name="password">
              </div>
          </div>

        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-10">
              <div class="pull-right">
                  <button type="submit" class="btn btn-primary">Сохранить</button>
              </div>
          </div>
        </div>

        </fieldset>
     </form>
  </div><!-- /.col-lg-12 -->
